<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../styles/style.css">
        <title> Afazeres </title>
    </head>
    <body class="body">
        <main class="main">
            <h1 class="main_title"> Meus afazeres </h1>
            <section class="main_choice">
                <input type="text" class="main_choice_input" id="input">
                <section>
                    <input type="radio" name="stats" id="stats_choice1" class="main_choice_stats">
                    <label for="stats_choice1" class="main_choice_txt"> Completo </label>
                    <input type="radio" name="stats" id="stats_choice2" class="main_choice_stats">
                    <label for="stats_choice2" class="main_choice_txt"> Não Completo </label>
                </section>
                <input type="button" value="+" class="main_choice_btn" id="btnAdd">
            </section>
            <section class="main_container" id="container">
            </section>
        </main>
    </body>
    <script src="../scripts/main.js"></script>
</html>