<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../styles/style.css">
        <title> Afazeres </title>
    </head>
    <body class="body">
        <main class="main">
            <h1 class="main_title"> Desafios do Evento </h1>
            <section class="main_container">
                <section class="main_container_block">
                    <section class="main_container_block_content">
                        <p class="main_container_maior_texto"> Faça 25 chutes em partidas online durante o evento Champions Road 2023  </p>
                        <img src="../images/completado.png" alt="Progressbar">
                    </section>
                    <img src="" alt="imagem" class="main_container_image">
                </section>
                <section class="main_container_block">
                    <section class="main_container_block_content">
                        <p class="main_container_maior_texto"> Faça 25 chutes em partidas online durante o evento Champions Road 2023  </p>
                        <img src="../images/completado.png" alt="Progressbar">
                    </section>
                    <img src="" alt="imagem" class="main_container_image">
                </section>
                <section class="main_container_block">
                    <section class="main_container_block_content">
                        <p class="main_container_maior_texto"> Faça 25 chutes em partidas online durante o evento Champions Road 2023  </p>
                        <img src="../images/completado.png" alt="Progressbar">
                    </section>
                    <img src="" alt="imagem" class="main_container_image">
                </section>
                <section class="main_container_block">
                    <section class="main_container_block_content">
                        <p class="main_container_maior_texto"> Faça 25 chutes em partidas online durante o evento Champions Road 2023  </p>
                        <img src="../images/completado.png" alt="Progressbar">
                    </section>
                    <img src="" alt="imagem" class="main_container_image">
                </section>
                <section class="main_container_block">
                    <section class="main_container_block_content">
                        <p class="main_container_maior_texto"> Faça 25 chutes em partidas online durante o evento Champions Road 2023  </p>
                        <img src="../images/completado.png" alt="Progressbar">
                    </section>
                    <img src="" alt="imagem" class="main_container_image">
                </section>
                <section class="main_container_block">
                    <section class="main_container_block_content">
                        <p class="main_container_maior_texto"> Faça 25 chutes em partidas online durante o evento Champions Road 2023  </p>
                        <img src="../images/completado.png" alt="Progressbar">
                    </section>
                    <img src="" alt="imagem" class="main_container_image">
                </section>
            </section>
        </main>
    </body>
    <script src="../scripts/main.js"></script>
</html>